<%- include("partials/header.ejs") %>

<section class="perle-section">

    <div class="container">
        <p>
            Kotob is your soon to be favorite book tracker
        </p>
    </div>

</section>

<%- include("partials/footer.ejs") %>