body {
    background-color: #FEFAE0;
}

.p-horizontal-center {      
    display: flex;
    justify-content: center;
    height: 200px;
    padding-top: 60px;
}

.perle-navbar {
    background-color: #626F47;
}

.btn-outline-light {
    border-color: #FFCF50;
}

.btn-warning {
    background-color: #FFCF50;
    color: #626F47;
}

.perle-section {
    padding-top: 50px;
}

.card-img-top {
    width: 120px;
    padding-left: 15px;
    padding-top: 15px;
}

.card {
    margin-top: 15px;
}

.perle-form {
    width: 600px;
}